<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Site</h1></a>
        <p>
            A Net Ninga Site
        </p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">Blog Create</a></li>
    </ul>
</nav>