<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

   <div class="blogs content">
    <h2>All Blogs</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quod omnis nulla earum id. Rerum illum amet tempore nihil saepe ex, expedita deleniti. Aut cupiditate suscipit eum repudiandae? Corrupti, asperiores?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quod omnis nulla earum id. Rerum illum amet tempore nihil saepe ex, expedita deleniti. Aut cupiditate suscipit eum repudiandae? Corrupti, asperiores?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quod omnis nulla earum id. Rerum illum amet tempore nihil saepe ex, expedita deleniti. Aut cupiditate suscipit eum repudiandae? Corrupti, asperiores?</p>
   </div>
   <%- include('./partials/footer') %>
</body>
</html>